*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow: hidden;
}

body{
    background-color:hsl(185, 75%, 39%);
    font-family:Arial, Helvetica, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    overflow: hidden;
    /* corner-top-left-shape: -100px; */
    margin: 0;
    min-height: 100vh;
    overflow: hidden;

    background-image:
        radial-gradient(
            ellipse 55% 85% at 30% -5%,
            rgba(55, 195, 202, 0.55) 0%,
            rgba(55, 195, 202, 0.55) 55%,
            transparent 56%
        ),
}

.container{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
/* 
.background1{
    background-image:
        radial-gradient(
            ellipse 55% 85% at 30% -5%,
            rgba(55, 195, 202, 0.55) 0%,
            rgba(55, 195, 202, 0.55) 55%,
            transparent 56%
        ),

        radial-gradient(
            ellipse 60% 80% at 90% 105%,
            rgba(35, 165, 177, 0.45) 0%,
            rgba(35, 165, 177, 0.45) 55%,
            transparent 56%
        ),

        radial-gradient(
            ellipse 45% 70% at 105% 50%,
            rgba(70, 190, 198, 0.30) 0%,
            rgba(70, 190, 198, 0.30) 55%,
            transparent 56%
        );
}
.background2{
    background-image:
        radial-gradient(
            ellipse 55% 85% at 30% -5%,
            rgba(55, 195, 202, 0.55) 0%,
            rgba(55, 195, 202, 0.55) 55%,
            transparent 56%
        ),

        radial-gradient(
            ellipse 60% 80% at 90% 105%,
            rgba(35, 165, 177, 0.45) 0%,
            rgba(35, 165, 177, 0.45) 55%,
            transparent 56%
        ),

        radial-gradient(
            ellipse 45% 70% at 105% 50%,
            rgba(70, 190, 198, 0.30) 0%,
            rgba(70, 190, 198, 0.30) 55%,
            transparent 56%
        );
} */

#top-img {
  position: absolute;
  top: 0;
  right: 0;
  transform: scaleX(-1);
}